<%= form_for(link) do |f| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col offset-s2 s6">
    <i class="material-icons prefix">link</i>
    <%= f.text_field :in_url, class: "validate", placeholder: "Your long URL here"%>
  </div>
  <div class="col s3">
    <%= f.submit 'Shorten', class: "btn-large waves-effect waves-light teal lighten-1", id: "download-buttons" %>
  </div>
<% end %>
